.header__list {
  display: flex;
  justify-content: space-evenly;
  background-color: #bc4123;
  border-radius: 0px 0px 24px 24px;
}

.header .list__link {
  display: block;
  padding: 24px 0px 24px 0px;
}
.header .list__link:hover {
  color: white;
  transition: .3s;
}

.header .list__item {
  width: 100%;
  text-align: center;
}
.header .list__item:hover {
  color: white;
  background-color: #84301b;
}
.header .list__item:first-child:hover {
  border-radius: 0px 0px 0px 24px;
}
.header .list__item:last-child:hover {
  border-radius: 0px 0px 24px 0px;
}