.table {
	width: 100%;
	border: 1px solid white;
	border-collapse: collapse;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #bc4123;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.table a {
	color: white;
}